h2{
    border: 4px solid red;
    border-radius: 20px;
    /* border-top: 8px dotted green;
    border-width: 4px;
    border-style: outset;
    border-color: red; */
}

/* div{
    border: 8px solid green;
} */

p{
    border: 4px solid green;

}

span{
    border: 2px solid black;
}